<!DOCTYPE html>
<html>
<head>
    <title>Data Analysis and Visualization</title>
    <!-- If jQuery is needed -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS (Version 5.3.0) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS (Version 5.3.0) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
   h2 {
      margin-bottom:0;
    }
   h3 {
      margin:0 0 30px;
    }
   .ui-slider-range {
       background:gray;
    }
   .percent {
      color:gray;
      font-weight:bold;
      text-align:center;
      width:100%;
      border:none;
    }
    .bg-dark-green {
        background-color: #343A40; /* Dark green color */
    }

    <style>
    .modal-content-container {
        border: 1px solid #dee2e6; /* Light gray border */
        padding: 20px;
        margin-bottom: 15px;
        background-color: white; /* White background */
        border-radius: 5px; /* Slightly rounded corners for the border */
    }




    </style>
</head>
<body>
{% include 'NavBar/navbar.html' %}

<div class="container mt-5">
    <h2 class="text-center">Data Analysis and Visualization</h2>
    <!-- Left section: Display feature selection and reconstruct signal -->
    <div class="col-md-12">
        <a href="{% url 'signal_visualization_view' file_id %}" class="btn btn-primary mt-3">Reconstruct Signal</a>
        <a data-target="#myModal" data-toggle="modal" class="btn btn-primary mt-3" id="MainNavHelp" href="#myModal">Signal
            Customization</a>
        <a data-target="#myModalVisualization" data-toggle="modal" class="btn btn-primary mt-3" id="visualizationId" href="#myModal">Visualization</a>
        <a data-target="#feature_channel_selection_modal" data-toggle="modal" class="btn btn-primary mt-3"
           id="feature_channel_selection_modal_btn" href="#feature_channel_selection_modal">Feature & Channel
            Selection</a>
    </div>

    <!-- Middle section: Display data table (60% width) -->
    <div class="col-md-12 justify-content-center">
        <h4 class="text-center">File Content</h4>
        <div class="table-container justify-content-center">
            <table class="table" id="dataTable">
                <thead>
                <tr>
                    {% for column in column_names %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in file_content %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        {% if validation_errors %}
        <div class="alert alert-danger">
            <strong>Validation Errors:</strong>
            <ul>
                {% for error in validation_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div id="channelSelectionPanel">
        <!-- Start Channel selection panel Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark-green">
                        <h4 class="modal-title text-white" style="flex-grow: 1; text-align: center;">Channel
                            Selection Panel</h4>
                    </div>

                    <div class="modal-body">
                        <div class="container mt-4 d-flex justify-content-center">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="dropdown custom-dropdown">
                                        <button class="btn btn-secondary dropdown-toggle " type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"
                                                style=" text-align: center;">
                                            Select Channel
                                        </button>
                                        <span></span>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                             id="channelSelectionMenu">
                                            <div class="dropdown-item">
                                                <input type="checkbox" class="channel-checkbox" id="optionAllChannels">
                                                <label for="optionAllChannels">Select all channels</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer bg-dark-green d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" id="apply-channel-selection">Apply</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Channel Selection -->
    </div>
</div>

<div id="featureChannelSelection">
    <div id="feature_channel_selection_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-dark-green ">

                    <h4 class="modal-title text-white" style="flex-grow: 1; text-align: center;">Channel
                        Selection Panel</h4>
                </div>
                <div class="modal-body">
                    <div class="container mt-4 modal-content-container">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h4 class="modal-title">Channel Selection</h4>
                                    <div class="custom-dropdown">
                                        <button class="dropdown-toggle" data-toggle="dropdown">Channel Selection
                                        </button>
                                        <div class="dropdown-menu" id="newChannelSelectionMenu">
                                            <div class="dropdown-item">
                                                <input type="checkbox" class="channel-checkbox"
                                                       id="optionAllChannels_data_analysis">
                                                <label for="optionAllChannels_data_analysis">Select all channels</label>
                                            </div>
                                            <!-- More channel selection options here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h4 class="modal-title">Feature Selection</h4>
                                    <div class="custom-dropdown">
                                        <button class="dropdown-toggle" data-toggle="dropdown" id="featureDropdown">
                                            Feature Selection
                                        </button>
                                        <div class="dropdown-menu" id="newFeatureSelectionMenu"
                                             aria-labelledby="featureDropdown" multiple
                                             style="height: auto; max-height: 200px; overflow-y: auto;">
                                            <!-- Dynamic feature items will be added here -->
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="windowLength" class="form-label">Window Length</label>
                                    <input type="number" class="form-control" id="windowLength" name="window_length">
                                </div>
                                <div class="mb-3">
                                    <label for="windowOverlap" class="form-label text-center">Window Overlap</label>
                                    <h4 class="text-center">
                                        <span class="percent">0%</span>
                                    </h4>
                                    <input type="range" min="0" max="100" value="0" class="slider form-range"
                                           id="windowOverlap" step="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-dark-green d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="apply-channel-feature-selection">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Feature & Channel Selection -->
</div>

{% include 'headerFooter/footer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


<script>

      $(document).ready(function() {
        $('#dataTable').DataTable();
    });


    var overlapPercentageValue = null;


    // Calling  generateChannelOptions generating the checkbox

    generateChannelOptions({{ num_columns }});

    // JavaScript for handling the "Select all channels" checkbox (only channel visualization)
      $('#optionAllChannels').change(function() {
             let checked = $(this).prop('checked');
             $(this).closest('.modal').find('.channel-checkbox').prop('checked', checked);
    });


    // sole or multiple Channel selection and visualization ( id = apply-channel-selection)
        $('#apply-channel-selection').click(function() {
            // Collect the selected channels and perform further actions (e.g., visualization)
            const selectedChannels = [];
            $('#channelSelectionPanel input[type="checkbox"]:checked').each(function() {
                if (this.id !== "optionAllChannels") {
                    const numericPart = this.id.replace("channel", ""); // Extract the numeric part
                    selectedChannels.push(numericPart); // Add the numeric part to the array
                }
            });

        // Redirect or perform visualization based on selected channels
        if (selectedChannels.length > 0) {
            // Construct the URL to visualize the selected channels
            let url = "{% url 'visualize_channels' file_id %}?channels=";
            url += selectedChannels.join(',');
            window.location.href = url;
        } else {
            // No channels selected, show an alert or take appropriate action
            alert("Please select at least one channel.");
        }

    });


    // Function to dynamically generate channel selection options
    function generateChannelOptions(numColumns) {
        var menu = document.getElementById("channelSelectionMenu");

        for (var i = 1; i <= numColumns; i++) {
            var div = document.createElement("div");
            div.className = "dropdown-item";

            var checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = "channel" + i;
            checkbox.className = "channel-checkbox";

            var label = document.createElement("label");
            label.htmlFor = "channel" + i;
            label.textContent = "Channel " + i;

            div.appendChild(checkbox);
            div.appendChild(label);
            menu.appendChild(div);
        }

    }
     function makeNullCheckBox () {
                $('#channelSelectionSelect').val(null).trigger('change');
           }
     var overlapPercentageValue = null;



    // all Feature and channel selection modal ( all feature  and channel visualization)
    $('#optionAllChannels_data_analysis').change(function() {
       let checked = $(this).prop('checked');
       $(this).closest('.modal').find('.channel-checkbox').prop('checked', checked);
    });

    // Function to dynamically generate channel selection options channel and feature modal
    function generateChannelOptionsForDataAnalysis(numColumns) {
        var menu = document.getElementById("newChannelSelectionMenu");

        for (var i = 1; i <= numColumns; i++) {
            var div = document.createElement("div");
            div.className = "dropdown-item";

            var checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = "channel" + i;
            checkbox.className = "channel-checkbox";

            var label = document.createElement("label");
            label.htmlFor = "channel" + i;
            label.textContent = "Channel " + i;

            div.appendChild(checkbox);
            div.appendChild(label);
            menu.appendChild(div);
        }
    }

    // Function to dynamically generate feature selection options in the modal
    function generateFeatureOptions() {
        var menu = document.getElementById("newFeatureSelectionMenu");
        var data_list = [
            'Absolute energy', 'Interquartile Range', 'Entropy', 'Area under the curve',
            'Kurtosis', 'Fundamental frequency', 'Centroid', 'Maximum',
            'Max frequency', 'Cumulative centroid', 'Mean', 'Roll off',
            'Distance', 'Mean absolute deviation', 'Roll on', 'Maximum peak',
            'Median', 'Spectral distance', 'Mean absolute difference', 'Minimum',
            'Spectral kurtosis', 'Mean', 'difference', 'Root mean square',
            'Spectral skewness', 'Median absolute difference', 'Skewness',
            'Spectral spread', 'Total energy', 'Standard deviation', 'Variance'
        ];

        data_list.forEach(function(featureName, index) {
            var a = document.createElement("a");
            a.className = "dropdown-item";
            a.href = "#";
            a.setAttribute("value", "feature" + (index + 1));
            a.textContent = featureName;

            a.addEventListener("click", function(e) {
                e.preventDefault();
                this.classList.toggle("active");
            });

            menu.appendChild(a);
        });
    }

    // Example usage - call the function to generate features dynamically
    generateFeatureOptions(30); // Change the argument to the number of features you have


    generateChannelOptionsForDataAnalysis({{ num_columns }});


// Features and channel selection for feature calculation
$(document).ready(function() {
    $('#apply-channel-feature-selection').click(function() {
        // Retrieve selected channels
         const selectedChannels = [];
         $('#featureChannelSelection #newChannelSelectionMenu  input[type="checkbox"]:checked').each(function() {
                if (this.id !== "optionAllChannels_data_analysis") {
                    const numericPart = this.id.replace("channel", ""); // Extract the numeric part
                    selectedChannels.push(numericPart); // Add the numeric part to the array
                }
            });
        // Retrieve selected features
        const selectedFeatures = $('#featureChannelSelection #newFeatureSelectionMenu .dropdown-item.active').map(function() {
            var featureValue = $(this).attr('value');
            var match = featureValue.match(/\d+/); // Regular expression to find number in the string
            return match ? match[0] : null;
        }).get().filter(value => value !== null); // Filter out any null values


        // Retrieve the Window length
        var windowLength = $('#windowLength').val();

        // Construct query parameters
        const queryParams = new URLSearchParams();

         if (selectedChannels.length > 0 && selectedFeatures.length > 0) {

             queryParams.append('channels',selectedChannels);

             queryParams.append('features', selectedFeatures);

            queryParams.append('windowLength', String(windowLength).trim());
            queryParams.append('windowOverLapValue', String(overlapPercentageValue).trim());

            // Construct the URL and redirect
            let url = "{% url 'view_features_calculation' file_id %}?" + queryParams.toString();
            window.location.href = url;
        } else {
            // No channels selected, show an alert or take appropriate action
            alert("Please select at least one channel and one feature.");
        }
    });
});



    // Testing the overlap selection
     document.addEventListener('DOMContentLoaded', function() {
          var slider = document.querySelector('.slider');
          var percent = document.querySelector('.percent');

          slider.addEventListener('input', function() {
            var value = this.value;
            overlapPercentageValue = value;
            percent.textContent = value + '%';
          });
        });


</script>
</body>
</html>