<!DOCTYPE html>
<html>
<head>
    <title>Channel Visualization</title>
    <!-- Include Plotly.js_NOVA from the Plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
{% include 'NavBar/navbar.html' %}

<h1>Reconstructed Signals for Selected Channels</h1>

<!-- Include a div to display the combined plot -->
<div id="combined-plot"></div>
{% include 'headerFooter/footer.html' %}
<script>
        // Initialize arrays to store data for the selected channels
        var combinedData = [];

        // Loop through the selected channels and accumulate their data
        {% for channel, data in reconstructed_data.items %}
            // Extract the data for the channel
            var channelData = {{ data|safe }};

            // Create a trace for each channel with a unique color and label
            var trace = {
                x: Array.from({ length: channelData.length }, (_, i) => i),  // Create x-axis values
                y: channelData,  // Use the channel's y-axis data
                mode: 'lines',  // Set the mode to 'lines' for line plot
                name: '{{ channel }}',  // Provide a name for the channel
            };

            combinedData.push(trace);
        {% endfor %}

        // Define the layout for the combined plot
        var combinedLayout = {
            title: 'Combined Signals',
            xaxis: { title: 'Time' },
            yaxis: { title: 'Amplitude' },
        };

        // Create a Plotly plot for the combined signals with unique colors and labels
        Plotly.newPlot('combined-plot', combinedData, combinedLayout);

</script>
</body>
</html>
