<!DOCTYPE html>
<html>
<head>

    <title>File Upload Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {% include 'NavBar/navbar.html' %}
    <div class="container mt-5">
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- <div class="form-group">
                <label for="file">Upload File</label>
                <input type="file" class="form-control-file" id="file" name="file" required>
            </div> -->
            <button type="submit" class="btn btn-primary">Upload</button>
            <a href="{% url 'file_list_view' %}" class="btn btn-secondary">Cancel</a>
        </form>



    </div>
</body>
{% include 'headerFooter/footer.html' %}
</html>
